<!DOCTYPE html>
<html>
    <h1>Dog in the Database</h1>
    <style>
        table, th, td {
            border: 1px solid black;
    }
    </style> 
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        
        <% @dog.each do |d| %> 
        <tr>
            <td><%= link_to d.name, dogs_path(d) %></td>
            <td><%= d.age %></td>
        </tr>
        <% end %>
    </table>
    
    <%= link_to "Add Dogs Info", dogs_new_path %> 
</html>





